{% extends 'Home/Base.html' %}
{% block title %} Change Password {% endblock %}
{% load static %}
{% block content %}


    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0">
            <a href="index.html">Home</a> <span class="mx-2 mb-0">/</span>
            <strong class="text-black">Change Password</strong>
          </div>
        </div>
      </div>
    </div>

    <div class="container-xxl py-5 d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="container">
            <div class="row g-4 justify-content-center">
                <div class="col-md-4">
                    <div class="bg-light p-5 h-100 d-flex align-items-center">
                        <form method="post">
                            {% csrf_token %}
                            {% if messages %}
                            <ul type="none">
                                {% for message in messages %}
                                <li style="color:red;">{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}

                            <h3 class="mb-4 text-center">Change Password</h3>

                            {{ form.as_p }}

                            <div class="col-10">
                                <button class="btn btn-danger w-100 py-3" type="submit">Change Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}