{% extends 'Home/Base.html' %}
{% load static %}
{% block title %} Shop {% endblock %}
{% block content %}

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <a
              href="{% url 'Store:shop' %}">Store</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">{{pro.product}}</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-5 mr-auto">
            <div class="border text-center">
              <img src="{{pro.image.url}}" alt="Image" class="img-fluid p-5">
            </div>
          </div>
          <div class="col-md-6">
            <h2 class="text-black" style="font-family: serif;">{{pro.product}}</h2>
            <p style="font-family: monospace; color: #383050;">{{pro.description}}</p>
            {% if pro.stock > 0 %}
            <p><strong class="fa-solid fa-cart-flatbed mt-3"> <span style="color:#BB3A3E;">Stock - {{pro.stock}}</span></strong></p>
            {% endif %}
            <p><strong class="text h4" style="font-family: serif; color:#2A8737;">Rs.{{pro.price}}</strong></p>

            {% if pro.stock > 0 %}
            <p><a href="cart.html" class="buy-now btn btn-sm height-auto px-4 py-3 btn-warning">Add To Cart</a></p>
            {% else %}
            <p><a href="#" class="buy-now btn btn-sm height-auto px-4 py-3 btn-dark">Out of Stock</a></p>
            {% endif %}
            <br><br>
            <form method="post" action="{% url 'Store:feedback' pro.id %}">
              {% csrf_token %}
              <label class="text-black">Leave a Feedback</label>
              <textarea name="Add_Feedback" class="form-control" required></textarea>
              <div>
                <input type="submit" value="Add Feedback" class="btn btn-teal-300">
              </div>
            </form>

            <br><br>
            <div class="col-12">
                <div class="card shadow-sm">
                    <div class="card-header bg-danger text-white">
                        <h5 class="mb-0 text-white">All Feedbacks</h5>
                    </div>
                    <div class="card-body" style="max-height: 275px; overflow-y: auto;">
                        {% if feedback_view %}
                            <ul class="list-group">
                                {% for feedback in feedback_view %}
                                    <li class="list-group-item">
                                        <p><span style="color:#343738;">{{ feedback.user.first_name }} {{ feedback.user.last_name }}</span></span><br>
                                        <strong style="color:black;">{{ feedback.feedback }}</strong></p>
                                        <small class="text-muted">Posted on {{ feedback.created_at|date:"F d, Y H:i" }}</small>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>No feedback available for this product yet.</p>
                        {% endif %}
                    </div>
                </div>
            </div>

          </div>
        </div>
      </div>
    </div>

{% endblock %}